@font-face {
    font-family: "Arial";
    src: url("../fonts/arial.ttf");
}

@font-face {
    font-family: "Arial Bold";
    src: url("../fonts/arialbd.ttf");
}

@font-face {
    font-family: "DinNext Bold";
    src: url("../fonts/DINNextLTPro-Bold.ttf");
}

@font-face {
    font-family: "DinNext Regular";
    src: url("../fonts/DINNextLTPro-Regular.ttf");
}

@font-face {
    font-family: "DinNext Light";
    src: url("../fonts/DINNextLTPro-UltraLight.ttf");
}

@font-face {
    font-family: "Gidolinya";
    src: url("../fonts/Gidolinya-Regular.ttf");
}
@font-face {
    font-family: "Myriad";
    src: url("../fonts/MyriadPro-Regular.ttf");
}

