/* random name */
.RandomPicker__choice,
.RandomNumberPicker__choice {
    position: relative;
    margin-bottom: 20px;
    max-width: 700px;
    display: flex;
}

span#choice {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-family: "DinNext Bold";
    font-size: 50px;
    width: 100%;
    text-align: center;
}

#raffle{
    height: 100vh;
}

button.RandomPicker__button {
    background: #f7931d;
    font-family: "DinNext Bold";
    text-transform: uppercase;
    border: none;
    padding: 10px 35px;
    margin-right: 10px;
    border-radius: 50px;
}

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: url("../img/winner.gif") !important;
    background-color: rgb(0,0,0,0.8) !important;
    background-repeat: repeat;
    width: 100%;
}

.swal2-popup.swal2-modal.swal2-show {
    background: url(../img/winner_template_body.png);
    background-size: cover;
    padding: 51px;
    color: #000;
    font-family: "DinNext Bold";
}

h2#swal2-title{
    color: #000;
    font-family: "DinNext Bold";
    margin: 0px;
}

.swal2-popup.swal2-modal.swal2-show:before {
    content: '';
    background: url(../img/winner_template_header.png);
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    top: -55px;
    left: 0;
}

.RandomPicker {
    background-image: url(../img/blue-bg.png);
    background-size: cover;
    background-position: bottom;
    color: #fff;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numberWrapper {
    position: relative;
}

#choiceNumber {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-family: "DinNext Bold";
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.RandomNumberPicker__choice:before {
    content: '';
    background: url(../img/random_top.png);
    position: absolute;
    width: 100%;
    height: 130%;
    background-repeat: no-repeat;
    background-size: contain;
    top: -164px;
    left: 62%;
    transform: translate(-50%, 0%);
}

.RandomNumberPicker__choice:after {
    content: '';
    background: url(../img/random_bottom.png);
    position: absolute;
    width: 100%;
    height: 75%;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -94px;
    left: 61%;
    transform: translate(-50%, 0%);
}

.RandomNumber__controls {
    position: absolute;
    bottom: 20%;
}



@media screen and (max-width:1024px){
    .RandomNumber__controls {
        position: absolute;
        bottom: 30%;
    }
}

@media screen and (max-width:600px){
    .swal2-popup.swal2-modal.swal2-show {
        background-position: center;
    }

    span#choice {
        font-size: 25px;
    }

    .swal2-popup.swal2-modal.swal2-show:before {
        content: '';
        background: url(../img/winner_template_header.png);
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        top: -37px;
        left: 0;
    }

    .RandomNumberPicker__choice:after {
        content: '';
        background: url(../img/random_bottom.png);
        position: absolute;
        width: 75%;
        height: 75%;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -68px;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .RandomNumberPicker__choice:before {
        content: '';
        background: url(../img/random_top.png);
        position: absolute;
        width: 70%;
        height: 70%;
        background-repeat: no-repeat;
        background-size: contain;
        top: -64px;
        left: 64%;
        transform: translate(-50%, 0%);
    }
}

@media screen and (max-width:360px){
    .RandomNumber__controls {
        position: absolute;
        bottom: 25%;
    }
}

@media screen and (max-width:320px){
    .RandomNumberPicker__choice:after {
        content: '';
        background: url(../img/random_bottom.png);
        position: absolute;
        width: 75%;
        height: 75%;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -58px;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .RandomNumberPicker__choice:before {
        content: '';
        background: url(../img/random_top.png);
        position: absolute;
        width: 70%;
        height: 70%;
        background-repeat: no-repeat;
        background-size: contain;
        top: -53px;
        left: 64%;
        transform: translate(-50%, 0%);
    }
}